#wpadminbar .logo-wrapper {
	width: 20px;
	height: 32px;
}

#wpadminbar .logo-wrapper svg {
	width: 20px;
	height: 20px;
	margin: 6px 0;
}

#wpadminbar .logo-wrapper svg path {
	fill: rgba(240, 245, 250, 0.6);
}

#wpadminbar .logo-wrapper:hover svg path {
	fill: #fff;
}

#adminmenuwrap {
	position: fixed;
}

.wrap {
	margin: 0 20px 0 2px;
}

.wrap .notice,
.wrap div.updated,
.wrap div.error,
.media-upload-form .notice,
.media-upload-form div.error {
	margin: 0.5rem 0 2rem 0;
	height: 43px;
	display: flex;
	align-items: center;
}

.notice-dismiss {
	top: 4px;
}

.wp-core-ui button.show-notice-code {
	top: -0.75rem;
	position: relative;
}

.wrap h1.big-title {
	font-size: 5rem;
	font-weight: 700;
	line-height: 1.1;
}

.admin-bar .menupop:hover .ab-sub-wrapper {
	display: block;
}

.section {
	padding: 4rem 0 0 0;
}

.section:first-of-type {
	padding-top: 2rem;
}

.section-header {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
}

.section-header h1 {
	margin: 0;
	padding: 0;
}

.section-header .button {
	margin-left: 1rem;
}

.section-content {
	padding: 0 1rem 0 0;
}

.section-content::after {
	content: "";
	display: table;
	clear: both;
}

.large-text p {
	margin: 0;
	font-size: 18px;
	line-height: 1.8;
}

.text-light {
	color: #b9b9b9;
}

.section-code {
	display: none;
	position: relative;
}

.section.code-view .section-content {
	display: none;
}

.section.code-view .section-code {
	display: block;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.text-center {
	text-align: center;
}

.section-notices :not(pre) > code[class*="language-"],
.section-notices pre[class*="language-"] {
	overflow-x: hidden;
}

pre {
	max-width: 100%;
	max-height: calc(100vh - 10rem);
	overflow: auto;
}

code,
pre {
	font-family: Consolas, Monaco, "Andale Mono", "Lucida Console", monospace;
	hyphens: none;
}

.dashicons-box {
	max-width: 45rem;
	margin: 3rem auto;
	text-align: center;
}

.wp-core-ui .button.button-big {
	height: 56px;
	padding: 0 2rem;
	line-height: 54px;
	font-size: 1rem;
}

.block {
	margin-bottom: 2rem;
}

.grid-2 {
	display: grid;
	grid-template-columns: 42% 58%;
	grid-template-rows: 1fr;
	grid-gap: 1rem;
}

.column-code {
	padding-top: 5px;
}

.switch-button.hidden {
	display: none;
}

#dashboard-widgets .postbox-container {
	width: 50%;
}

.logo-link {
	display: block;
	max-width: 25rem;
	margin: auto;
	padding: 1rem 2rem;
}

.logo-link:hover {
	opacity: 0.9;
}

.logo-link img {
	display: block;
	max-width: 100%;
	height: auto;
}

.d-flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.align-items-center {
	align-items: center;
}

.justify-content-center {
	justify-content: center;
}

.h-100 {
	height: calc(100vh - 3rem);
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #999;
}

::-webkit-scrollbar-thumb:hover {
	background: #777;
}

.share-buttons {
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.share-button {
	margin: 0 0.5rem;
}

a.twitter-share-button {
	display: block;
	width: 48px;
	height: 28px;
	padding: 0 12px;
	color: #fff;
	text-decoration: none;
	background: #00acee;
	font-size: 0.85rem;
	font-weight: 600;
	border-radius: 0.25rem;
	text-align: center;
	line-height: 26px;
}

a.twitter-share-button:hover {
	opacity: 0.9;
}

.h-400 pre {
	max-height: 400px;
}

.h-40 {
	height: 40px;
	display: flex;
	align-items: center;
	margin-bottom: 11px;
}

div.code-toolbar > .toolbar {
	top: 0.75rem;
	right: 1rem;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
	font-size: 15px;
	color: #fff;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar span:hover {
	color: #fff;
}

@media (max-width: 1199px) {

	.wrap h1.big-title {
		font-size: 4rem;
	}

	.grid-2 {
		grid-template-columns: 100%;
	}

	.switch-button {
		display: block;
	}

	.hide-lg-down {
		display: none;
	}

	.wrap .notice,
	.wrap div.updated,
	.wrap div.error,
	.media-upload-form .notice,
	.media-upload-form div.error {
		margin: 1rem 0 1rem 0;
		height: auto;
		display: block;
	}

	.notices-markup-column pre {
		margin-bottom: 1.5rem;
	}
}

@media (max-width: 782px) {

	#wpadminbar img.wp-admin-icon {
		width: 25px;
		height: 34px;
		margin: 6px 10px;
	}

	.wrap h1.big-title {
		margin-bottom: 1rem;
		font-size: 3rem;
	}
}
