#wpadminbar img.wp-admin-icon {
    height: 20px;
    width: 20px;
    margin: 6px 0;
}
.admin-bar .menupop:hover .ab-sub-wrapper {
    display: block;
}
.section {
    min-height: calc( 100vh - 42px );
}