#wpadminbar img.wp-admin-icon {
	width: 20px;
	height: 20px;
	margin: 6px 0;
}

#adminmenuwrap {
	position: fixed;
}

.wrap {
	margin: 0 20px 0 2px;
}

.admin-bar .menupop:hover .ab-sub-wrapper {
	display: block;
}

.section {
	min-height: calc(100vh - 42px);
	padding: 3rem 0;
}

.section-header {
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
}

.section-header h1 {
	margin: 0;
	padding: 0;
}

.section-header .button {
	margin-left: 1rem;
}

.section-content::after {
	content: "";
	display: table;
	clear: both;
}

.section-code {
	display: none;
	position: relative;
}

.section.code-view .section-content {
	display: none;
}

.section.code-view .section-code {
	display: block;
}

.editor-content {
	position: absolute;
	top: 1em;
	left: 1em;
	right: 1em;
	bottom: 1em;
	opacity: 0;
	width: calc(100% - 2em);
	height: calc(100% - 2em);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hidden {
	display: none;
}

.show {
	display: block;
}

.text-center {
	text-align: center;
}

pre {
	white-space: pre-line;
}

.dashicons-box {
	max-width: 35rem;
	margin: auto;
	text-align: center;
}

.dashicons-box p {
	font-size: 1.5rem;
}

.wp-core-ui .button.button-big {
	height: 56px;
	padding: 0 2rem;
	line-height: 54px;
	font-size: 1rem;
}

.block {
	margin-bottom: 2rem;
}

@media (max-width: 782px) {

	#wpadminbar img.wp-admin-icon {
		width: 25px;
		height: 34px;
		margin: 6px 10px;
	}
}
